:root {  /* variaveis de cores */
    --primary-color: #3498db;
    --secondary-color:#2980b9;
    --text-color:#ecf0f1;
    --text-secondary-color:#000f1f;
    --background-color:#34495e;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--text-color);
    transition: background-color 0.5s ease;
}

.menu-lateral {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: var(--background-color);
    z-index: 5;
    box-shadow: 0 0 20 rgba(0,0,0,0.1);
    transition: all 0.5s cubic-bezier(0.68,-0.55,0.27,1.55);
}

.menu-lateral.ativo {
    left: 0;
}

.menu-lateral ul{
    list-style-type: none;
    padding: 0;
    margin-top: 60px;
}

.menu-lateral ul li{
    padding: 15px 30px;
}

.menu-lateral ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-lateral ul li a i {
    font-size: 24px;
}

.menu-lateral ul li:hover {
    background-color: var(--secondary-color);
}

.menu-lateral ul li a i:hover {
    transform: translateX(5px) rotate(5deg);
}

.botao-menu {
    background-color: var(--primary-color);
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 6;
    border-radius: 5px;
    font-size: 24px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: var(--text-color);
    transition: all 0.5s ease-in-out;
}

.botao-menu:hover {
    background-color: var(--secondary-color);
}

.botao-menu.ativo {
    left: 320px;
}

.conteudo {
    margin-left: 80px;
    padding: 40px;
    color: var(--secondary-color);
    background-color: var(--text-color);
    transition: all 0.5s ease;
}

.conteudo.ativo {
    margin-left: 380px;
    color: var(--text-color);
    background-color:var(--background-color);

}

.background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 4;

}

.background.ativo {
    opacity: 1;
    visibility: visible;
}

/* ========================= */
/* RESPONSIVIDADE */
/* ========================= */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header section {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar a {
    display: block;
    margin: 1rem 0;
  }

  .content h3 {
    font-size: 4rem;
  }

  .content p {
    font-size: 1.6rem;
  }

  .about .row {
    flex-direction: column;
  }

  .about .row .container-image img {
    width: 100%;
  }

  .box-container {
    grid-template-columns: 1fr;
  }

  iframe {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 50%;
  }

  .content h3 {
    font-size: 3rem;
  }

  .btn {
    font-size: 1.4rem;
    padding: 0.8rem 1rem;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .icons img {
    width: 25px;
    height: 25px;
  }
}

